@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
* {
  box-sizing: border-box;
}

.btn-primary {
  @apply text-white px-[30px] py-[8px] rounded-3xl bg-primary cursor-pointer hover:opacity-70 transition-all;
}

.slick-dots {
  @apply !flex  justify-center w-full;
}

.slick-dots .slick-active div {
  @apply bg-primary w-[18px] h-[18px];
}

.slick-dots div {
  @apply !m-0 !mt-8;
}


  .loader{
    animation: rings 2s linear infinite;
  }


@keyframes rings {
    0%{
      transform:rotate(0deg);
      box-shadow: 1px 5px 2px #ffbe33;
    }
    50%{
      transform:rotate(180deg);
      box-shadow: 1px 5px 2px #ffbe33;
    }
    100%{
      transform:rotate(360deg);
      box-shadow: 1px 5px 2px #ffbe33;
    }
}